openai
python-dotenv
requests
sounddevice
huggingface_hub[hf_xet]
RealtimeSTT
realtimetts[coqui]
f5-tts
piper-tts
onnxruntime-gpu
torch --extra-index-url https://download.pytorch.org/whl/cu118
torchvision --extra-index-url https://download.pytorch.org/whl/cu118
torchaudio --extra-index-url https://download.pytorch.org/whl/cu118